html,
 @font-face { 
   font-family: 'Lexend';
   src: url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); 
}
 @font-face { 
   font-family: Lexend Deca;
   src: url(LexendDeca-Regular.woff);
 }
body {
  text-align: center;
  color: rgb(193, 171, 255);
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Lexend',Lexend Deca, cursive;
}
h2{
  text-align: center;
}

a {
  color: #57ca9a;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  background-color: rgb(250, 83, 228);
  color: rgb(243, 202, 233);
  font-family: Lexend, Lexend Deca;
  cursor: pointer;
}

